<?xml version="1.0"?>
<!--
/**
* @copyright Copyright (c) 2020 Orba Sp. z o.o. (http://orba.co)
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Orba_Config" setup_version="1.0.0">
        <module name="Magento_Config"/>
    </module>
</config>
